<div class="m-2 flex flex-col items-center justify-center flex flex-col gap-2">
    <h1 class="text-xl font-bold">Post Meme or Template</h1>
    <div>
        <form enctype="multipart/form-data" method="post">
            <div
                class="flex flex-col sm:flex-row justify-center items-center sm:justify-center sm:items-start gap-2"
            >
                <div class="flex flex-col">
                    <!--Preview box -->
                    <div
                        class="previewBox border border-gray-300 rounded-md p-2 h-54 w-74 flex items-center justify-center overflow-hidden relative"
                    >
                        <img
                            id="imgPreview"
                            src="#"
                            alt="preview"
                            class="max-w-full max-h-full w-auto h-auto object-contain hidden"
                        />
                        <video
                            id="vidPreview"
                            src="#"
                            controls
                            class="max-w-full max-h-full w-auto h-auto object-contain hidden"
                        ></video>
                    </div>

                    <div>
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Pick a file</legend>
                            <input
                                type="file"
                                class="file-input"
                                accept="video/*,image/*"
                                id="currentSelectedFile"
                                name="files"
                            />
                            <label class="fieldset-label">Max size 30MB</label>
                        </fieldset>
                    </div>
                </div>
                <!-- Form fields -->
                <div>
                    <div class="flex flex-col">
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Title</legend>
                            <textarea
                                class="textarea h-24"
                                placeholder="Type catchy text"
                                class="input"
                                id="postTitle"
                                name="postTitle"
                            ></textarea>
                        </fieldset>
                    </div>
                    <div class="flex flex-col">
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Tags</legend>
                            <textarea
                                class="textarea h-10"
                                placeholder="Tags"
                                id="postTags"
                                name="postTags"
                            ></textarea>
                        </fieldset>
                    </div>
                    <div class="flex flex-row gap-2">
                        <h1>Visibility</h1>
                        <div class="min-w-14"></div>
                        <input
                            type="radio"
                            name="postVisibility"
                            checked="checked"
                            class="checkbox"
                            value="true"
                            id="public"
                        />
                        <label for="public">Public</label>
                        <input
                            type="radio"
                            name="postVisibility"
                            class="checkbox"
                            value="false"
                            id="private"
                        />
                        <label for="private">Private</label>
                    </div>

                    <div class="divider">OPTIONAL</div>
                    <div
                        class="collapse bg-base-100 border-base-300 border gap-2"
                    >
                        <input type="checkbox" />
                        <div class="collapse-title font-semibold">
                            Click for more options
                        </div>
                        <div class="collapse-content text-sm gap-4">
                            <div class="flex flex-col gap-2">
                                <label for="ageRating">Age Rating</label>
                                <select class="select select-lg" id="ageRating">
                                    <option selected>PG13</option>
                                    <option>NSFW</option>
                                </select>
                            </div>
                            <div class="flex flex-col gap-2">
                                <label for="category">Select Category</label>
                                <select
                                    class="select select lg"
                                    id="category"
                                    name="category"
                                >
                                    <option disabled selected>Relatable</option>
                                    <option>Politics</option>
                                    <option>Casual</option>
                                    <option>Programming</option>
                                    <option>Troll</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center m-4">
                <button
                    id="uploadBtn"
                    class="btn bg-purple-700 text-white"
                    type="submit"
                >
                    Post
                </button>
            </div>
        </form>
    </div>
</div>
