<div class="flex flex-col justify-center items-center m-4">
    <form enctype="multipart/form-data" method="post">
        <div
            class="flex flex-col gap-2 p-8 sm:flex-row items-center sm:gap-6 sm:py-4 ..."
        >
            <div class="flex flex-col justify-center items-center max-w-60">
                <img
                    id="profilePreview"
                    class="mx-auto block h-24 w-24 sm:h-30 sm:w-30 sm:mt-8 rounded-full sm:mx-0 sm:shrink-0 hover:border-2 hover:border-blue-500"
                    alt="Profile"
                />

                <div
                    class="m-6 max-w-60 flex flex-col justify-center items-center"
                >
                    <input
                        id="selectedProfileImg"
                        type="file"
                        class="file-input"
                        accept="image/*"
                    />
                    <label for="selectedProfileImg" class="fieldset-label"
                        >Max size 2MB</label
                    >
                    <div
                        id="imgUploadButton"
                        class="hidden btn bg-green-500 hover:bg-green-600 rounded text-white"
                    >
                        Upload
                    </div>
                </div>
            </div>
            <div class="space-y-2 text-center sm:text-left gap-4">
                <div class="space-y-0.5 gap-2">
                    <input
                        id="uName"
                        type="text"
                        placeholder="Your Name"
                        class="input"
                    />
                    <div class="h-2"></div>
                    <input
                        id="userName"
                        type="input"
                        class="input validator"
                        required
                        placeholder="Username"
                        pattern="[A-Za-z][A-Za-z0-9\-]*"
                        minlength="3"
                        maxlength="20"
                        title="Only letters, numbers or dash"
                    />
                    <p class="validator-hint">
                        Must be 3 to 20 characters
                        <br />containing only letters, numbers or dash
                    </p>
                    <!--                    <input id="userName" type="text" placeholder="User name id" class="input" />-->
                    <textarea
                        id="bio"
                        class="textarea h-18"
                        placeholder="Bio"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-center">
            <button
                class="btn bg-green-500 hover:bg-green-600 text-white"
                type="submit"
            >
                Save changes
            </button>
        </div>
    </form>
</div>
