<div class="m-2 flex flex-col items-center justify-center">
    <!-- Search box -->
    <div
        class="flex flex-row justify-center items-center mt-3 mb-4 sm:hidden gap-2"
    >
        <input
            id="searchBox"
            type="text"
            placeholder="Search People, Memes, Templates"
            class="input input-bordered w-auto"
        />
        <div class="btn">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-search-icon lucide-search"
            >
                <circle cx="11" cy="11" r="8" />
                <path d="m21 21-4.3-4.3" />
            </svg>
        </div>
    </div>

    <!-- Tabs -->
    <!-- name of each tab group should be unique -->
    <div class="tabs tabs-box">
        <input
            id="template"
            type="radio"
            name="home_tab"
            class="tab"
            aria-label="Template"
        />

        <input
            id="all"
            type="radio"
            name="home_tab"
            class="tab"
            aria-label="Casual"
            checked="checked"
        />

        <input
            id="sad"
            type="radio"
            name="home_tab"
            class="tab"
            aria-label="Sad"
        />

        <input
            id="troll"
            type="radio"
            name="home_tab"
            class="tab"
            aria-label="Troll"
        />

        <input
            id="politics"
            type="radio"
            name="home_tab"
            class="tab"
            aria-label="Politics"
        />

        <input
            id="programming"
            type="radio"
            name="home_tab"
            class="tab"
            aria-label="Programming"
        />

        <input
            id="trending"
            type="radio"
            name="home_tab"
            class="tab"
            aria-label="Trending"
        />
    </div>

    <div
        id="postContainer"
        class="columns-1 gap-5 sm:columns-2 sm:gap-8 md:columns-3 [&>img:not(:first-child)]:mt-8 px-4"
    ></div>

    <span id="spinner" class="loading loading-spinner loading-xl"></span>
</div>
