<div class="m-8 flex flex-col justify-center items-center gap-2">
    <!-- Post-card preview -->
    <div class="postCard">
        <span id="spinner" class="loading loading-spinner loading-xl"></span>
    </div>
    <!-- Replies -->
    <div class="shadow-sm rounded-lg bg-base-100 p-2 max-w-124">
        <div>Leave Replies</div>
        <!-- Input box -->
        <div class="m-2 flex flex-col gap-1">
            <label class="text-neutral-700" for="content">Type here</label>
            <form method="post" id="commentForm">
                <div class="flex flex-row gap-2">
                    <textarea
                        class="hover-border-purple-500 w-full rounded-lg border optional:border-purple-400"
                        name="content"
                        placeholder="Your thought"
                    ></textarea>
                    <button
                        class="btn font-bold rounded-sm bg-purple-700 p-2 text-white hover:cursor-pointer"
                    >
                        Leave
                    </button>
                </div>
                <div>
                    <input class="w-20" type="file" />
                </div>
            </form>
        </div>
        <!-- Replies by other users -->
        <div id="repliesContainer" class="p-4">
            <!--User info and replie-->
        </div>
    </div>
</div>
