<div class="m-8 flex flex-col justify-center items-center gap-2">
    <!-- Post-card preview -->
    <div class="postCard">
        <span id="spinner" class="loading loading-spinner loading-xl"></span>
    </div>
    <!-- Replies -->
    <div class="shadow-sm rounded-lg bg-base-100 p-2 max-w-124">
        <div>Leave Replies</div>
        <!-- Input box -->
        <div id="replieInputContainer" class="m-2 flex flex-col gap-1">
            <!--Replie box and image picker-->
        </div>
        <!-- Replies by other users -->
        <div id="repliesContainer" class="p-4">
            <!--User info and replie-->
        </div>
    </div>
</div>
