body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body is at least the height of the viewport */
    margin: 0; /* Remove default body margins */
}

.toast {
    position: fixed;
    top: 20px;
    right: -300px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: right 0.5s ease;
    z-index: 9999;
    height: 50px;
}

.toast.show {
    right: 20px;
}
