<div class="flex flex-col justify-center items-center mt-[60px] gap-3">
    <div class="flex flex-col sm:flex-row gap-6">
        <h1 class="card-title text-2xl font-bold">Join Meme Store</h1>

        <form method="post" id="signupForm">
            <fieldset
                class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box"
            >
                <legend class="fieldset-legend">Create Account</legend>

                <label class="fieldset-label">Name</label>
                <input
                    type="text"
                    class="input"
                    placeholder="Name (Optional)"
                    name="name"
                />

                <label class="fieldset-label">Username</label>
                <input
                    type="text"
                    class="input"
                    placeholder="Username"
                    name="userName"
                />

                <label class="fieldset-label">Email</label>
                <input
                    type="email"
                    class="input"
                    placeholder="Email"
                    name="email"
                />

                <label class="fieldset-label">Password</label>
                <input
                    type="password"
                    class="input"
                    placeholder="Password"
                    name="password1"
                />

                <label class="fieldset-label">Password</label>
                <input
                    type="password"
                    class="input"
                    placeholder="Password"
                    name="password2"
                />

                <button
                    class="btn bg-purple-600 text-white mt-4"
                    type="submit"
                    name="signup"
                >
                    Create Me
                </button>
            </fieldset>
        </form>
    </div>
    <p class="mt-4">
        Already have account /
        <a href="/auth/login" class="text-purple-600" data-link>Login here</a>
    </p>
</div>
