<br />
<br />
<div class="flex flex-col justify-center items-center">
    <form method="post" class="flex flex-col justify-center items-center">
        <fieldset
            class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box"
        >
            <legend class="fieldset-legend">Login</legend>

            <label class="fieldset-label">Email</label>
            <input
                id="email"
                type="email"
                class="input"
                placeholder="Email"
                name="email"
            />

            <label class="fieldset-label">Password</label>
            <input
                id="password"
                type="password"
                class="input"
                placeholder="Password"
                name="password"
            />
        </fieldset>
        <button class="btn bg-purple-600 text-white mt-4" type="submit">
            Login
        </button>
    </form>

    <p class="mt-4">
        Don't have account /
        <a href="/auth/signup" class="text-purple-600" data-link
            >Create a new account</a
        >
    </p>
</div>
